
.form-container {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  padding: 20px;
}

.form-wrapper {
  background-color: #ffffff;
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  padding: 20px; 
  width: 600px; 
}

.form-name-input {
  margin-bottom: 20px; 
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.form-input {
  margin-bottom: 10px;
  width: 100%;
}

label {
  font-weight: bold;
}

.form-input input{
  width: calc(100% - 10px); 
  padding: 8px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  outline: none; 
}

input[type='file'] {
  cursor: pointer;
}

.address-field{
  display: flex; 
  justify-content: space-between;
  margin-top: 20px;
}

.delete-svg{
  display: flex;
  justify-content: flex-end;
}

.save-form button{
  width: 100%; 
  padding: 8px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  font-size: 18px;
}

.error-message{
  color: rgb(233, 37, 37);
  
}